#card{
    height: 200px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    border: solid black 2px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

#card div img{
    border-radius: 5px;
    margin: 20px;
}